{% extends "main/base.html" %}

{% block title %}
	Create a new table {{block.super}}

{% endblock title %}


<!--lets load crispy tag-->
{% load crispy_forms_tags %}



{% block main_content %}
	<!--<form class="" action="{% url 'todo_create' %}" method="post" >
lets drop this code and django will understand what to do.. todo_update
	-->
	<form class="" action="" method="post" >
	
	<!-- {% if form.errors %}
		<p>{{ form.errors }}</p>
	{% endif %}-->
{% csrf_token %}
		<!--{{form.as_p}} crispy filter added-->
		{{form|crispy}}

	<!--security fogature crosite frogery-->
		
		
		<button class="btn btn-primary" type="submit" name="button">Save</button>
	</form>

{% endblock main_content %}

